*{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Comic Relief", system-ui;
}
body{
    margin: 0 auto;
}
header{
    width: 1366px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    text-align: center;
}
header img{
    height: 95%;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(127, 242, 255);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
nav a{
    font-family: "Audiowide", sans-serif;
    color: rgb(0, 185, 6);
    text-decoration: none;
    padding: 15px 20px;
    transition: .5s;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    background-image: url(../A_Imagens/Fondo.avif);
    background-position: bottom;

}
main a{
    color: rgb(232, 251, 232);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
.personaje{
    width: 1300px;
    height: 400px;
    /*background-color: aquamarine;*/
    margin-left: 33px;
    margin-top: 80px;
    display: inline-block;
    padding-top: 20px;
}
.foto{
    width: 400px;
    height: 400px;
    /*background-color: rgb(255, 53, 231);*/
    float: left;
    margin-left: 33px ;
    text-align: center;
    border-bottom: 5px groove #35c34a;
}
.foto img{
    height: 100%
}
.info{
    width: 800px;
    height: 400px;
    background-color: rgba(255, 55, 0, 0.519);
    float: left;
    margin-left: 33px ;
    padding: 30px;
    border-bottom: 5px groove #35c34a;
}
.info h3{
    font-size: 2.5rem;
    margin: 20px 0px;
}
footer{
    width: 1366px;
    height: 350px;
    background-color: rgb(100, 100, 100);
    margin: 0 auto;
    padding: 20px;
}
footer a{
    display: block;
    padding: 10px;
    font-family: "Audiowide", sans-serif;
    color: rgb(255, 0, 102);
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
}